.main-container {
    margin-top: 3.25rem;
    transition: 250ms ease-in-out;

    &.fixed {
        margin-left: 225px;
    }
}

@media screen and (max-width: 999px) {
    .main-container.fixed {
        margin-left: 0;
    }
}