.sidebar-container {
	position: relative;
	width: 220px;
	padding: 1rem 0;
	background-color: #fff;
	box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.05);
	line-break: none;
	overflow: hidden;
	transition: 250ms ease-in-out;

	&.hidden {
		width: 0;
	}

	.label {
		white-space: nowrap;
	}

	.sidebar-bottom-bg {
		position: absolute;
		bottom: 0;
		display: block;
		width: 100%;
		height: 250px;
		opacity: 1;
		background: {
			image: url('../../../assets/images/decoration-blue-colors.png');
			repeat: no-repeat;
			size: contain;
			position: bottom;
		}
		transition: 250ms ease-in-out;
	}

	.sidebar-menu {
		list-style: none;
	}
}
